@import '../../scss/variables.scss';

.notes {
  padding: 0;
  flex: 1;

  .notes--menu {
    flex-direction: column;
    border-right: 1px solid $border-color;

    .notes--menu-item {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      border-bottom: 1px solid $border-color;
      padding: 15px;
    }
  }

  .notes--editor {
    padding: 15px;
  }
}